[**@ferroui/schema**](../../README.md)

***

Defined in: [types.ts:178](https://github.com/jxoesneon/FerroUI/blob/f629cfe8aad65aa35e0bd2ea86f61d378dcad807/packages/schema/src/types.ts#L178)

## Type Parameters

### T

`T`

## Properties

### data?

> `optional` **data?**: `T`

Defined in: [types.ts:180](https://github.com/jxoesneon/FerroUI/blob/f629cfe8aad65aa35e0bd2ea86f61d378dcad807/packages/schema/src/types.ts#L180)

***

### errors?

> `optional` **errors?**: [`ValidationIssue`](ValidationIssue.md)[]

Defined in: [types.ts:181](https://github.com/jxoesneon/FerroUI/blob/f629cfe8aad65aa35e0bd2ea86f61d378dcad807/packages/schema/src/types.ts#L181)

***

### valid

> **valid**: `boolean`

Defined in: [types.ts:179](https://github.com/jxoesneon/FerroUI/blob/f629cfe8aad65aa35e0bd2ea86f61d378dcad807/packages/schema/src/types.ts#L179)
